Tareas/Tarea 7/ConsumirSeriesJava/xml-resources/web-service-references/wsSeries/wsdl/localhost_8080/ServicioWebJava/wsSeries.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://servicios/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://servicios/">

<xs:element name="Factorial" type="tns:Factorial"/>

<xs:element name="FactorialResponse" type="tns:FactorialResponse"/>

<xs:element name="Fibonacci" type="tns:Fibonacci"/>

<xs:element name="FibonacciResponse" type="tns:FibonacciResponse"/>

<xs:complexType name="Factorial">
<xs:sequence>
<xs:element name="n" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="FactorialResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Fibonacci">
<xs:sequence>
<xs:element name="n" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="FibonacciResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>